{
  "version": "2018-05-29",
  "operation": "Query",
  "query" : {
        "expression" : "ACTIVE = :active",
        "expressionValues" : {
            ":active" : {"S": "Y"}
        }
  },
    "index": "ACTIVE-index"
}
